<a href="https://colab.research.google.com/github/JOKER-NISHANTH/pythonTechiSug/blob/master/PythonTechiSu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension :

List comprehension are useful and help  you write elegant code that's easy to read and debug...

## Syntax : 

[ expression for item in iterable ]

In [ ]:
lst = [1,2,3]
print(lst)

[1, 2, 3]

In [ ]:
List = [ x for x in range(1,11)]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
List = [ x**2 for x in range(1,11)]
print(List)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### True Statement in List Comprehension

_Syntax_

[ expression for item in iterable if condition]


### Print Even Number 
---

In [ ]:
List = [ x for x in range(1,11) if x%2==0]
print(List)

[2, 4, 6, 8, 10]

### Print Odd Number

In [ ]:
List = [ x for x in range(1,11) if not x%2==0]
print(List)

[1, 3, 5, 7, 9]

#### True And False Statement in List Comprehension

_Syntax_

[ T-expr if conditon else F-expr for item in iterable ]

In [ ]:
List = [ x if (x > 2) else x+1 for x in range(1,11)]
print(List)

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

Print 1 to 10 and Even Numbers square and Odd numbers cube


eg:
```
  1, 4, 27 , 16 ,125 .......,729 , 100
```

In [ ]:
List = [ x**2 if x%2==0 else x**3 for x in range(1,11)]
print(List)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

**List Comprehension examples**

1. Question 
Multiple no to List

In [ ]:
List = [ 1,2,3,4,5 ]
Result = [ x*2 for x in List]
print(Result)

[2, 4, 6, 8, 10]

2 . Extract numbers or alphabets form string

In [ ]:
name = "BlackPearl379"
Result = [x for x in name if x.isalpha()]
print(Result)
Result = [x for x in name if x.isdigit()]
print(Result)

['B', 'l', 'a', 'c', 'k', 'P', 'e', 'a', 'r', 'l']
['3', '7', '9']

3. To Change cases of words in List

In [ ]:
fruits = ['apple','orange','grapes']
UpperCase = [ x.upper() for x in fruits]
print(UpperCase)

['APPLE', 'ORANGE', 'GRAPES']

4. Nested List Comprehension

In [ ]:
NestedList = [[1,2,3,4,5],['a','b','c','d','e'],['Cyber','Black']]
print(NestedList)
Result = [ x[0] for x in NestedList]
print(Result)
Result = [ x[1] for x in NestedList]
print(Result)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], ['Cyber', 'Black']]
[1, 'a', 'Cyber']
[2, 'b', 'Black']

5. Addition of two List

In [ ]:
List_1 = [1,2]
List_2 = [3,4]

Added = [x+y for x in List_1 for y in List_2]
print(Added)

[4, 5, 5, 6]

Addition  of two List (Corresponding Values)

In [ ]:
List_1 = [1,2]
List_2 = [3,4]

Added = [List_1[i] + List_2 [i] for i in range(len(List_1))]
print(Added)

[4, 6]

6. Forming Unique pairs:

In [ ]:
List_1 = [1,2]
List_2 = [3,4]
Unique = [ (x,y) for x in List_1 for y in List_2 if not x==y]
print(Unique)

[(1, 3), (1, 4), (2, 3), (2, 4)]

7. Function

In [ ]:
def square(x):
  return (x*x)

print([square(x) for x in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]



---

# Function

Python function are categorized into 

* in-built function
* User defined functions
  
  * Function Definition
  * Function Calling

_Syntax_

```python
  
  def function_name(arguments): # arguments => Optional 
    # Code
    return variable


# Function Call
function_name()
```

1. Function Without Arg

In [ ]:
def greet():
  print("Welcome")

greet()

Welcome

2. Function with Postional Arg

In [ ]:
def print_name(name) -> str:
  print(f"Heartly Welcome! {name}")


print_name('Black Pearl')

Heartly Welcome! Black Pearl

3. returning value

In [ ]:
def add(num1,num2):
  return (num1+num2)

result = add(10,15)
print(result)
result=add(num2=10,num1=40)
print(result)

25
50

In [ ]:
def calc(x,y):
  add = x + y
  sub = x - y
  mul = x * y
  div = x / y
  rem = x % y

  return add ,sub , mul , div , rem


num1 , num2 = 10 , 5
Result = calc(y=num2,x=num1)
print(Result) # printed in tuple format

Add , Sub , Mul, Div , Rem = calc(x=num1,y=num2)
print(Add , Sub , Mul, Div , Rem )

(15, 5, 50, 2.0, 0)
15 5 50 2.0 0

4. Function with default arg

In [ ]:
# pi = default
def area(radius , pi=3.14):
  return pi * radius**2


print(area(10))
print(area(10,2))

314.0
200

5. Keyworded argument

In [ ]:
def printval(x,y):
  print("x",x)
  print("y",y)

printval(777,999)
printval(y=777,x=999)

x 777
y 999
x 999
y 777

6. Variable length argument

In [ ]:
# *value = *arg

def multi_value(*value):
  print(value)
  print(*value)
  print(f"Addition of value : {sum(value)}\n")
  for x in value:
    print(f"Square of value {x}: {x**2}")

multi_value(1,2,3,4,5)

(1, 2, 3, 4, 5)
1 2 3 4 5
Addition of value : 15

Square of value 1: 1
Square of value 2: 4
Square of value 3: 9
Square of value 4: 16
Square of value 5: 25

7. **kwargs = keyword length arguments

In [ ]:
def List(**items):
  print(items) # Return DICT
  
  print(*items) # Return Key  
  
  print(items['apple'])

  print(items)


List(apple=2,manjo=6,lemon=4)

{'apple': 2, 'manjo': 6, 'lemon': 4}
apple manjo lemon
2
{'apple': 2, 'manjo': 6, 'lemon': 4}

_**\*args and **kwargs**_

In [ ]:
def func(*args,**kwargs):
  print(args) # Tuple
  print(kwargs) # Dict

func(1,2,3,4,a=10,b=20,c=30,d=40)

(1, 2, 3, 4)
{'a': 10, 'b': 20, 'c': 30, 'd': 40}



---

# Recursive Function:

Function calling itself..

- Base Case ==> Terminating from recursive
- Recursive Case ==> Calling itself

Example

1.   Factorial

Stack memory

LIFO (last in first out )

n = 5

5 *fact(4) = 5*24 = 120

4 *fact(3) = 4*6 = 24

3 *fact(2) = 3*2 = 6

2 *fact(1) = 2*1 = 2

fact(1) = 1

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)
n = int(input('Enter the number : '))
res = fact(n)
print(f"Factorial of {n} is {res}")

Enter the number : 6
Factorial of 6 is 720

2. Sum of digits

eg:

n=1234

= 1 + 2 + 3 + 4

= 10



Logic

1234%10 + sod(1234//10) = 4 + sod(123) = 4 + 6 = 10
123%10 + sod(123//10)   = 3 + sod(12)  = 3+3   = 6
12%10 + sod(12//10)     = 2 + sod(1)   = 2+1   = 3
1%10 + sod(1//10)       = 1 + sod(0)   = 1
0

In [ ]:
def sod(n):
  if n == 0:
    return 0
  else:
    return n%10 + sod(n//10)
n = int(input("Enter the number : "))
res = sod(n)
print(f"Sum of digits {n} : {res} ")

Enter the number : 1234
Sum of digits 1234 : 10

# Lambda Function / Anonymous Function

function

```python
def function_name():
  #code
  return statement
```

lambda function

```python

variable(fun-obj) = lambda arguments : expression
```


- Not defined by def keyword Function returns a object one-line funtions Can take any no of arguments can't access _**global**_ variables

- Function does not any name ..

- Defined by **_Lambda_** keyword

In [ ]:
# Sum of no

def sum(x,y):
  return x + y

res = sum(2,3)  
print("Sum : ",res)

Sum :  5

In [ ]:
sum = lambda x,y : x+y
print("Sum : ",sum(55,45))

Sum :  100

In [ ]:
square  = lambda x : x*x
print("Square : ",square(5))

Square :  25

# Map Function

```python

map(function ,sequence)

```

In [ ]:
def square(n):
  return n**2
List = [1,2,3,4,5]
Result = []
for sq in List:
  Result.append(square(sq))
print(Result)

[1, 4, 9, 16, 25]

In [ ]:
def square(n):
  return n**2

List = [1,2,3,4,5]  

Result = map(square,List)
print(Result)

ListResult = list(map(square,List))
print(ListResult)

<map object at 0x7efc5166b128>
[1, 4, 9, 16, 25]

In [ ]:
List = [1,2,3,4,5] 
Result = map(lambda x:x**2,List)
print(*Result)

1 4 9 16 25

map(function ,sequence)

sequence = multiple argument

In [ ]:
List_1 = [1,2,3]
List_2 = [1,1,1]

Result = tuple( map(lambda x , y : x + y,List_1, List_2))
print(Result)

(2, 3, 4)

# Filter and Reduce Function

Example

1. Display even no in range (1 to 10)

In [ ]:
for ev in range(1,11):
  if ev%2==0:
    print(ev)

2
4
6
8
10

Filter function

_Syntax_

```python

filter(function , *iterable)
```

In [ ]:
Even = filter(lambda x :x%2==0 , range(1,11))
print(Even)


Even = list(map(lambda x :x%2==0 , range(1,11)))
print(Even)


Even = list(filter(lambda x :x%2==0 , range(1,11)))
print(Even)

<filter object at 0x7efc516802b0>
[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]

In [ ]:
Odd = list(map(lambda x : not x%2==0 , range(1,11)))
print(Odd)

Odd = list(filter(lambda x : not x%2==0 , range(1,11)))
print(Odd)

[True, False, True, False, True, False, True, False, True, False]
[1, 3, 5, 7, 9]

# Reduce Function

_Syntax_

```python

reduce(func , iterables)

```

Reduce function working

x,y
1 + 2  = 3
3 + 3  = 6
6 + 4  = 10
10 + 5 = 15

In [ ]:
import functools

List = [1,2,3,4,5] # Sum of elements in list

sum = functools.reduce(lambda x , y : x + y,List)
print(sum)

15



---

In [ ]:
print(__name__)

__main__

In [ ]:
# calculator

def add(a,b):
  return a + b
def sub(a,b):
  return a - b
def mul(a,b):
  return a * b

print(__name__)  
print(add(a=2,b=3))
print(mul(a=2,b=3))

__main__
5
6

In [ ]:
if __name__ == '__main__':
  print(__name__)  
  print(add(a=2,b=3))
  print(mul(a=2,b=3))

__main__
5
6



---

# Math module

In [ ]:
import math

# method of math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
num = 5.4
print(math.floor(num)) # min int val

5

In [ ]:
print(math.ceil(num)) # max int val

6

In [ ]:
# factorial
num = 5
print(math.factorial(num))

120

In [ ]:
# GCD

print(math.gcd(4,2))

2

In [ ]:
# sqrt

print(math.sqrt(2))

1.4142135623730951

In [ ]:
# isqrt = return integer value only
print(math.isqrt(2))

AttributeError: ignored

In [ ]:
print(math.floor(math.sqrt(2)))

1

In [ ]:
# Exponental
# e^val
print(math.exp(3))

20.085536923187668

In [ ]:
# Module
# math.fmod(x,y)
print(math.fmod(10,3)) # x > y => Reminder

1.0

In [ ]:
print(math.fmod(3,10)) # x < y => x

3.0

In [ ]:
# copysign

x = 5
y = -6

# copy of y sign to x val
print(math.copysign(x,y))

-5.0

In [ ]:
# difference

print(4-5)

-1

In [ ]:
# fabs

x = 5
y = -6

print(math.fabs(x-y))

11.0

In [ ]:
x = 4
y = 5

print(math.fabs(x - y))

1.0

In [ ]:
# pow(2^3)

print(math.pow(2,3))

8.0

In [ ]:
# list access in math
# fsum

List = [1,2,3,4,5]
print(math.fsum(List))

15.0

In [ ]:
# prod

# [1*1 , 1*2 , 2*3 , ......]
List = [1,2,3,4,5]

print(math.prod(List))

AttributeError: ignored

In [ ]:
print(math.prod(List,start=2))

AttributeError: ignored

In [ ]:
#Constant

print(math.pi)
print(math.tau) # 2*pi
print(math.e)
print(math.nan) # not a number
print(math.inf)

3.141592653589793
6.283185307179586
2.718281828459045
nan
inf

In [ ]:
# Constant implement 
# Condition check return bool value

x = 10
print(math.isfinite(x))

True

In [ ]:
x = 10
print(math.isinf(x))

False

In [ ]:
x = 10
print(math.isnan(x))

False

In [ ]:
a = 1.1
b = 1.2
print(math.isclose(a,b)) 

# 0.0 is True
# diff is 0.1 so False

False

In [ ]:
# set a close

a = 1.1
b = 1.2
print(math.isclose(a,b,abs_tol=0.2))



c = 1.1
d = 1.4
print(math.isclose(c,d,abs_tol=0.2))

True
False



---

# Datetime

###[date,time,datetime,timezone,timedelta]


date = yyyy/m/d

In [ ]:
import datetime

print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [ ]:
# date

mydate = datetime.date(2021,1,9)

print(mydate)

2021-01-09

In [ ]:
# today date

tdate = datetime.date.today() # current date

print(tdate)

2021-01-10

In [ ]:
# current year , month and day
print(f"Current Year : {tdate.year} ")
print(f"Current Month : {tdate.month} ")
print(f"Current Day : {tdate.day} ")

Current Year : 2021
Current Month : 1
Current Day : 10

In [ ]:
# Weekday

tdate = datetime.date.today()
'''
0 = monday
1 = tuesday
2 = wednesday
3 = thrusday
4 = friday
5 = saturday
6 = sunday
'''
print(tdate.weekday())

6

In [ ]:
# isoweekday
'''
1 = monday
2 = tuesday
3 = wednesday
4 = thrusday
5 = friday
6 = saturday
7 = sunday
'''

print(datetime.date.today().isoweekday())

7

In [ ]:
'''
timedelta => diff between 2 days
timedelta + day
'''

tdate = datetime.date.today()
tdelta = datetime.timedelta(days=4)
print(tdate)
print(tdelta)
print(tdate + tdelta)
print(tdate - tdelta)

2021-01-10
4 days, 0:00:00
2021-01-14
2021-01-06

In [ ]:
# Find no of days passed in this year

newyear = datetime.date(2021,1,1)
print(f"No of days passed : {tdate - newyear}")
print(f"No of days passed : {(tdate - newyear).days} days")

No of days passed : 9 days, 0:00:00
No of days passed : 9 days

 time = h : m : s : microsec

In [ ]:
mytime = datetime.time(8,15,56,123456)
print(mytime)

08:15:56.123456

In [ ]:
print(mytime.hour)
print(mytime.minute)
print(mytime.second)

8
15
56

### Date + Time

In [ ]:
myday = datetime.datetime(2021,1,1,8,15,56,123456)
print(myday)

2021-01-01 08:15:56.123456

In [ ]:
print(myday.hour)
print(myday.minute)

8
15

In [ ]:
tday = datetime.datetime.today()
print(tday)

tday_now = datetime.datetime.now()
print(tday_now)


# utcnow() = start in 1 jan 1970
tday_utc = datetime.datetime.utcnow()

print(tday_utc)

2021-01-10 14:55:40.060214
2021-01-10 14:55:40.060358
2021-01-10 14:55:40.060436

In [ ]:
mydate = datetime.date.fromtimestamp(1234567890)
print(mydate)

2009-02-13

#### Datetime to String

__Formats__
 
%H - hour

%M - minute;

%S - second 

%s - microsecond

%d - day 

%m - month(1,2,3,..) 

%B - (January,...) 

%b - (jan,feb,...)

%Y - YYYY

%y - yy

In [ ]:
# datetime to string
# strf

tdate = datetime.datetime.now()
print(tdate)

mytime = tdate.strftime("%H:%M:%S")
print(mytime)

mydate = tdate.strftime("%d/%m/%y")
print(mydate)

mydatetime = tdate.strftime("%d/%m/%y , %H:%M:%S")
print(mydatetime)

2021-01-10 15:10:54.995946
15:10:54
10/01/21
10/01/21 , 15:10:54

__String to datetime__


method - strptime

In [ ]:
date_str = "10 January 2021"
print(date_str)

con = datetime.datetime.strptime(date_str,"%d %B %Y")
print(con)

10 January 2021
2021-01-10 00:00:00



---

# First Class Function
# Nested Function

In [ ]:
def isodd(n):
  if not n%2 == 0:
    return n


print(isodd(3))    
print(isodd(30))

3
None

In [ ]:
def isodd(n) -> int:
  if not n%2 == 0:
    return n

num = int(input("Enter the number : ")

res = isodd(num)
print(res)

SyntaxError: ignored