<a href="https://colab.research.google.com/github/JOKER-NISHANTH/pythonTechiSug/blob/master/PythonTechiSu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension :

List comprehension are useful and help  you write elegant code that's easy to read and debug...

## Syntax : 

[ expression for item in iterable ]

In [2]:
lst = [1,2,3]
print(lst)

[1, 2, 3]

In [3]:
List = [ x for x in range(1,11)]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
List = [ x**2 for x in range(1,11)]
print(List)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### True Statement in List Comprehension

_Syntax_

[ expression for item in iterable if condition]


### Print Even Number 
---

In [6]:
List = [ x for x in range(1,11) if x%2==0]
print(List)

[2, 4, 6, 8, 10]

### Print Odd Number

In [8]:
List = [ x for x in range(1,11) if not x%2==0]
print(List)

[1, 3, 5, 7, 9]

#### True And False Statement in List Comprehension

_Syntax_

[ T-expr if conditon else F-expr for item in iterable ]

In [9]:
List = [ x if (x > 2) else x+1 for x in range(1,11)]
print(List)

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

Print 1 to 10 and Even Numbers square and Odd numbers cube


eg:
```
  1, 4, 27 , 16 ,125 .......,729 , 100
```

In [10]:
List = [ x**2 if x%2==0 else x**3 for x in range(1,11)]
print(List)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

**List Comprehension examples**

1. Question 
Multiple no to List

In [11]:
List = [ 1,2,3,4,5 ]
Result = [ x*2 for x in List]
print(Result)

[2, 4, 6, 8, 10]

2 . Extract numbers or alphabets form string

In [15]:
name = "BlackPearl379"
Result = [x for x in name if x.isalpha()]
print(Result)
Result = [x for x in name if x.isdigit()]
print(Result)

['B', 'l', 'a', 'c', 'k', 'P', 'e', 'a', 'r', 'l']
['3', '7', '9']

3. To Change cases of words in List

In [16]:
fruits = ['apple','orange','grapes']
UpperCase = [ x.upper() for x in fruits]
print(UpperCase)

['APPLE', 'ORANGE', 'GRAPES']

4. Nested List Comprehension

In [21]:
NestedList = [[1,2,3,4,5],['a','b','c','d','e'],['Cyber','Black']]
print(NestedList)
Result = [ x[0] for x in NestedList]
print(Result)
Result = [ x[1] for x in NestedList]
print(Result)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], ['Cyber', 'Black']]
[1, 'a', 'Cyber']
[2, 'b', 'Black']

5. Addition of two List

In [22]:
List_1 = [1,2]
List_2 = [3,4]

Added = [x+y for x in List_1 for y in List_2]
print(Added)

[4, 5, 5, 6]

Addition  of two List (Corresponding Values)

In [23]:
List_1 = [1,2]
List_2 = [3,4]

Added = [List_1[i] + List_2 [i] for i in range(len(List_1))]
print(Added)

[4, 6]

6. Forming Unique pairs:

In [24]:
List_1 = [1,2]
List_2 = [3,4]
Unique = [ (x,y) for x in List_1 for y in List_2 if not x==y]
print(Unique)

[(1, 3), (1, 4), (2, 3), (2, 4)]

7. Function

In [26]:
def square(x):
  return (x*x)

print([square(x) for x in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

=====================================================================

# Function

Python function are categorized into 

* in-built function
* User defined functions
  
  * Function Definition
  * Function Calling

_Syntax_

```python
  
  def function_name(arguments): # arguments => Optional 
    # Code
    return variable


# Function Call
function_name()
```

1. Function Without Arg

In [27]:
def greet():
  print("Welcome")

greet()

Welcome

2. Function with Postional Arg

In [32]:
def print_name(name) -> str:
  print(f"Heartly Welcome! {name}")


print_name('Black Pearl')

Heartly Welcome! Black Pearl

3. returning value

In [35]:
def add(num1,num2):
  return (num1+num2)

result = add(10,15)
print(result)
result=add(num2=10,num1=40)
print(result)

25
50

In [37]:
def calc(x,y):
  add = x + y
  sub = x - y
  mul = x * y
  div = x / y
  rem = x % y

  return add ,sub , mul , div , rem


num1 , num2 = 10 , 5
Result = calc(y=num2,x=num1)
print(Result) # printed in tuple format

Add , Sub , Mul, Div , Rem = calc(x=num1,y=num2)
print(Add , Sub , Mul, Div , Rem )

(15, 5, 50, 2.0, 0)
15 5 50 2.0 0

4. Function with default arg

In [38]:
# pi = default
def area(radius , pi=3.14):
  return pi * radius**2


print(area(10))
print(area(10,2))

314.0
200

5. Keyworded argument

In [40]:
def printval(x,y):
  print("x",x)
  print("y",y)

printval(777,999)
printval(y=777,x=999)

x 777
y 999
x 999
y 777

6. Variable length argument

In [50]:
# *value = *arg

def multi_value(*value):
  print(value)
  print(*value)
  print(f"Addition of value : {sum(value)}\n")
  for x in value:
    print(f"Square of value {x}: {x**2}")

multi_value(1,2,3,4,5)

(1, 2, 3, 4, 5)
1 2 3 4 5
Addition of value : 15

Square of value 1: 1
Square of value 2: 4
Square of value 3: 9
Square of value 4: 16
Square of value 5: 25

7. **kwargs = keyword length arguments

In [61]:
def List(**items):
  print(items) # Return DICT
  
  print(*items) # Return Key  
  
  print(items['apple'])

  print(items)


List(apple=2,manjo=6,lemon=4)

{'apple': 2, 'manjo': 6, 'lemon': 4}
apple manjo lemon
2
{'apple': 2, 'manjo': 6, 'lemon': 4}

_**\*args and **kwargs**_

In [63]:
def func(*args,**kwargs):
  print(args) # Tuple
  print(kwargs) # Dict

func(1,2,3,4,a=10,b=20,c=30,d=40)

(1, 2, 3, 4)
{'a': 10, 'b': 20, 'c': 30, 'd': 40}